<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>@ViewData["Title"] - Controlzmo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery.toast.min.css" asp-append-version="true" />
</head>
<body>
    <div style="width: 100%">
        <main role="main" class="pb-3">@RenderBody()</main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jqueryui/jquery-ui.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/nosleep/NoSleep.js"></script>
    <script src="~/js/jquery.toast.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/controlzmo/app.js" type="module"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
