@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Light 1</th>
            <td><input type="checkbox" id="light1" /></td>
        </tr>
        <tr>
            <th>Light 2</th>
            <td><input type="checkbox" id="light2" /></td>
        </tr>
    </table>
    <ul id="messagesList"></ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/test.js"></script>
