@page
@{
    ViewData["Title"] = "Home page";
}

<table style="font-size: larger;">
    <tr style="font-size: smaller;">
        <th>Mode</th>
        <td>
            <select id="leftEfisNdMode" class="sendText">
                <option value="0">Rose ILS</option>
                <option value="1">Rose VOR</option>
                <option value="2">Rose Nav</option>
                <option value="3" selected>Arc</option>
                <option value="4">Plan</option>
            </select>
        </td>
        <th>Range</th>
        <td>
            <select id="leftEfisNdRange" class="sendText">
                <option value="0">10</option>
                <option value="1">20</option>
                <option value="2">40</option>
                <option value="3">80</option>
                <option value="4">160</option>
                <option value="5">320</option>
            </select>
        </td>
        <th>Mode</th>
        <td>
            <select id="rightEfisNdMode" class="sendText">
                <option value="0">Rose ILS</option>
                <option value="1">Rose VOR</option>
                <option value="2">Rose Nav</option>
                <option value="3" selected>Arc</option>
                <option value="4">Plan</option>
            </select>
        </td>
        <th>Range</th>
        <td>
            <select id="rightEfisNdRange" class="sendText">
                <option value="0">10</option>
                <option value="1">20</option>
                <option value="2">40</option>
                <option value="3">80</option>
                <option value="4">160</option>
                <option value="5">320</option>
            </select>
        </td>
    </tr>
    <tr style="font-size: smaller;">
    </tr>
    <tr style="font-size: smaller;">
        <th><label for="radarSys">Radar</label></th>
        <td style="text-align: left; line-height: 1;">
            <input type="radio" name="radarSys" class="sendRadio" id="radarSys1" value="0" />
            <label for="radarSys1">1</label><br />
            <input type="radio" name="radarSys" class="sendRadio" id="radarSysOff" value="1" />
            <label for="radarSysOff">Off</label><br />
            <input type="radio" name="radarSys" class="sendRadio" id="radarSys2" value="2" />
            <label for="radarSys2">2</label>
        </td>
        <td><input type="checkbox" id="predictiveWindshear" class="sendBoolean" /></td>
        <th><label for="predictiveWindshear">Predictive Windshear</label></th>
        <th><label for="tcasTraffic">Traffic</label></th>
        <td style="text-align: left; line-height: 1;">
            <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficThreat" value="0" />
            <label for="tcasTrafficThreat">Thrt</label><br />
            <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficAll" value="1" />
            <label for="tcasTrafficAll">All</label><br />
            <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficAbove" value="2" />
            <label for="tcasTrafficAbove">Abv</label><br />
            <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficBelow" value="3" />
            <label for="tcasTrafficBelow">Blw</label>
        </td>
        <th><label for="tcasMode">TCAS</label></th>
        <td style="text-align: left; line-height: 1;">
            <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeStandby" value="0" />
            <label for="tcasModeStandby">Stby</label><br />
            <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeTA" value="1" />
            <label for="tcasModeTA">TA</label><br />
            <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeRA" value="2" />
            <label for="tcasModeRA">TA/RA</label>
        </td>
    </tr>
</table>

<div style="float: left">
    <input type="checkbox" checked disabled />
    <label>COM1</label>
    <input id="com1active" readonly size="7" />
    <input type="button" id="com1swap" value="↔" class="sendButton" />
    <input id="com1standby" is="com-frequency" class="sendText" />
    <br />
    <input type="checkbox" id="com2rx" class="sendBoolean" />
    <label>COM2</label>
    <input id="com2active" readonly size="7" />
    <input type="button" id="com2swap" value="↔" class="sendButton" />
    <input id="com2standby" is="com-frequency" class="sendText" />
</div>
<!-- div>
    <input type="button" id="com3rxToggle" value="Rx" class="sendButton" />
    <label for="com3standby">COM3</label>
    <input id="com3active" readonly size="7" />
    <input type="button" id="com3swap" value="↔" class="sendButton" />
    <input id="com3standby" type="number" size="7" min="118.0" max="136.975" step="0.005" pattern="1[1-3]\d\.\d(\d[05]?)?" class="sendText" />
</div-->
<div style="float: right">
    <input type="button" id="testVoice" value="Test Callout" onClick="speak('Monitoring')" />
    <label for="xpndrCode">Transponder Code</label>
    <input id="xpndrCode" size="4" maxlength="4" class="sendText" />
</div>
<div style="float: right">
    <b><label for="serialInbound">Serial Inbound</label></b>
    <br /><input id="serialInbound" maxlength="30" class="sendText" size="20" />
</div>

<div style="clear: both">
    <b><label for="jetbridge">JetBridge</label></b>
    <br /><input id="jetbridge" maxlength="127" class="sendText" style="width: 100%" />
</div>
