@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Strobes</th>
            <td><input type="checkbox" id="lightStrobes" class="sendSomet" disabled /></td>
        </tr>
        <tr title="Ensure On or Retract (not Off) in game">
            <th>Landing</th>
            <td><input type="checkbox" id="lightLanding" class="sendSomet" /></td>
        </tr>
        <tr>
            <th>Turnoff/Taxi</th>
            <td><input type="checkbox" id="lightTurnoff" class="sendSomet" /></td>
        </tr>
    </table>
    <ul id="messagesList"></ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/test.js"></script>
