@page
@{
    ViewData["Title"] = "Home page";
}

<table style="font-size: larger;">
    <tr>
        <th>Strobes</th>
        <td style="text-align: left; line-height: 1;">
            <input type="radio" name="lightsStrobe" class="sendRadio" id="lightsStrobeOn" value="on" />
            <label for="lightsStrobeOn">On</label><br />
            <input type="radio" name="lightsStrobe" class="sendRadio" id="lightsStrobeAuto" value="auto" />
            <label for="lightsStrobeAuto">Auto</label><br />
            <input type="radio" name="lightsStrobe" class="sendRadio" id="lightsStrobeOff" value="off" />
            <label for="lightsStrobeOff">Off</label>
        </td>
        <td><input type="checkbox" id="lightsBeacon" class="sendBoolean" /></td>
        <th><label for="lightsBeacon">Beacon</label></th>
        <td><input type="checkbox" id="lightsWingIce" class="sendBoolean" /></td>
        <th><label for="lightsWingIce">Wing Ice</label></th>
        <td><input type="checkbox" id="lightsNavLogo" class="sendBoolean" /></td>
        <th><label for="lightsNavLogo">Nav/Logo</label></th>
    </tr>
    <tr>
        <td><input type="checkbox" id="lightsRunwayTurnoff" class="sendBoolean" /></td>
        <th><label for="lightsRunwayTurnoff">Runway Turnoff</label></th>
        <td colspan="2"><input type="checkbox" id="lightsLanding" class="sendBoolean" /></td>
        <th colspan="2" title="Ensure On or Retract (not Off) in game"><label for="lightsLanding">Landing</label></th>
        <th><label for="lightsNose">Nose</label></th>
        <td style="text-align: left; line-height: 1;">
            <input type="radio" name="lightsNose" class="sendRadio" id="lightsNoseTakeOff" value="takeoff" />
            <label for="lightsNoseTakeOff">T.O.</label><br />
            <input type="radio" name="lightsNose" class="sendRadio" id="lightsNoseTaxi" value="taxi" />
            <label for="lightsNoseTaxi">Taxi</label><br />
            <input type="radio" name="lightsNose" class="sendRadio" id="lightsNoseOff" value="off" />
            <label for="lightsNoseOff">Off</label>
        </td>

    </tr>
    <tr>
        <td>
            <select id="radarSys" class="sendText">
                <option value="0">1</option>
                <option value="1">Off</option>
                <option value="2">2</option>
            </select>
        </td>
        <th><label for="radarSys">Radar</label></th>
        <td><input type="checkbox" id="predictiveWindshear" class="sendBoolean" /></td>
        <th><label for="predictiveWindshear">Predictive Windshear</label></th>
        <td>
            <select id="tcasTraffic" class="sendText">
                <option value="0">Thrt</option>
                <option value="1">All</option>
                <option value="2">Abv</option>
                <option value="2">Blw</option>
            </select>
        </td>
        <th><label for="tcasTraffic">Traffic</label></th>
        <td>
            <select id="tcasMode" class="sendText">
                <option value="0">Stby</option>
                <option value="1">TA</option>
                <option value="2">TA/RA</option>
            </select>
        </td>
        <th><label for="tcasMode">TCAS</label></th>
    </tr>
</table>

<div style="float: left">
    <input type="checkbox" checked disabled />
    <label>COM1</label>
    <input id="com1active" readonly size="7" />
    <input type="button" id="com1swap" value="↔" class="sendButton" />
    <input id="com1standby" is="com-frequency" class="sendText" />
<br/>
    <input type="checkbox" id="com2rx" class="sendBoolean" />
    <label>COM2</label>
    <input id="com2active" readonly size="7" />
    <input type="button" id="com2swap" value="↔" class="sendButton" />
    <input id="com2standby" is="com-frequency" class="sendText" />
</div>
<!-- div>
    <input type="button" id="com3rxToggle" value="Rx" class="sendButton" />
    <label for="com3standby">COM3</label>
    <input id="com3active" readonly size="7" />
    <input type="button" id="com3swap" value="↔" class="sendButton" />
    <input id="com3standby" type="number" size="7" min="118.0" max="136.975" step="0.005" pattern="1[1-3]\d\.\d(\d[05]?)?" class="sendText" />
</div-->
<div style="float: right">
    <input type="button" id="testVoice" value="Test Callout" onClick="speak('Monitoring')" />
    <label for="xpndrCode">Transponder Code</label>
    <input id="xpndrCode" size="4" maxlength="4" class="sendText" />
</div>

<div style="clear: both">
    <b><label for="jetbridge">JetBridge</label></b>
    <br/><input id="jetbridge" maxlength="128" class="sendText" style="width: 100%" />
</div>
