@page
@{
    ViewData["Title"] = "Home page";
}

<div id="tabs">
    <ul class="tab-menu">
        <li><a href="#tabs-efis-radar-atc-radio">EFIS, Radar, Radio</a></li>
        <li>&mdash;</li>
        <li><a href="#tabs-mcdu">MCDU</a></li>
        <li>&mdash;</li>
        <li><a href="#tabs-debug">Debug</a></li>
    </ul>
  <div class="gridContainer">
    <div id="tabs-efis-radar-atc-radio">
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td>
                    <select id="leftEfisNdMode" class="sendText">
                        <option>Rose ILS</option>
                        <option>Rose VOR</option>
                        <option>Rose Nav</option>
                        <option selected>Arc</option>
                        <option>Plan</option>
                    </select>
                </td>
                <th><label for="leftEfisNdMode">Mode</label></th>
                <td>
                    <select id="leftEfisNdRange" class="sendText">
                        <option>10</option>
                        <option>20</option>
                        <option>40</option>
                        <option>80</option>
                        <option>160</option>
                        <option>320</option>
                    </select>
                </td>
                <th><label for="leftEfisNdRange">Range</label></th>
                <td rowspan="2" class="tableCaption">Captain</td>
            </tr>
            <tr style="font-size: smaller;">
                <th>
                    <select id="leftEfisNavAid1" class="sendText">
                        <option>ADF</option>
                        <option selected>Off</option>
                        <option>VOR</option>
                    </select>
                    <label for="leftEfisNavAid1">1</label>
                </th>
                <th colspan="2">
                    <select id="leftEfisNavAid2" class="sendText">
                        <option>ADF</option>
                        <option selected>Off</option>
                        <option>VOR</option>
                    </select>
                    <label for="leftEfisNavAid2">2</label>
                </th>
                <td><input type="button" id="chrono1press" value="Chrono" class="sendButton" /></td>
            </tr>
            <!--
                        <tr style="font-size: smaller;">
                            <th colspan="4">First Officer</th>
                        </tr>
                        <tr style="font-size: smaller;">
                            <td>
                                <select id="rightEfisNdRange" class="sendText">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>40</option>
                                    <option>80</option>
                                    <option>160</option>
                                    <option>320</option>
                                </select>
                            </td>
                            <th><label for="rightEfisNdRange">Range</label></th>
                            <td>
                                <select id="rightEfisNdMode" class="sendText">
                                    <option>Rose ILS</option>
                                    <option>Rose VOR</option>
                                    <option>Rose Nav</option>
                                    <option selected>Arc</option>
                                    <option>Plan</option>
                                </select>
                            </td>
                            <th><label for="rightEfisNdMode">Mode</label></th>
                        </tr>
                        <tr style="font-size: smaller;">
                            <td>
                                <select id="rightEfisNavAid1" class="sendText">
                                    <option>ADF</option>
                                    <option selected>Off</option>
                                    <option>VOR</option>
                                </select>
                            </td>
                            <th><label for="rightEfisNavAid1">1</label></th>
                            <td>
                                <select id="rightEfisNavAid2" class="sendText">
                                    <option>ADF</option>
                                    <option selected>Off</option>
                                    <option>VOR</option>
                                </select>
                            </td>
                            <th><label for="rightEfisNavAid2">2</label></th>
                        </tr>
        -->
        </table>
        <div style="float: right;">
            <br />
            <input type="button" id="ecamButtonTakeOffConfig" value="T.O.&#x00A;Config" class="sendButton" style="-webkit-transform: rotate(0deg);" />
            <br /><br />
            <label for="cockpitDoor">Cockpit<br />door<br />locked</label>
            <br />
            <input type="checkbox" id="cockpitDoor" class="sendBoolean" />
        </div>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="radio" name="radarSys" class="sendRadio" id="radarSys1" value="0" />
                    <label for="radarSys1">1</label><br />
                    <input type="radio" name="radarSys" class="sendRadio" id="radarSysOff" value="1" />
                    <label for="radarSysOff">Off</label><br />
                    <input type="radio" name="radarSys" class="sendRadio" id="radarSys2" value="2" />
                    <label for="radarSys2">2</label>
                </td>
                <th>Radar</th>
                <th>
                    <input type="checkbox" id="predictiveWindshear" class="sendBoolean" />
                    <label for="predictiveWindshear">Predictive<br />Windshear</label>
                </th>
                <td class="tableCaption">Radar</td>
            </tr>
        </table>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="checkbox" checked disabled />
                    <label>COM1</label>
                    <input id="com1active" readonly size="7" class="lcdDisplay" />
                    <input type="button" id="com1swap" value="↔" class="sendButton" />
                    <input id="com1standby" is="com-frequency" class="lcdDisplay sendText" />
                </td>
                <td class="tableCaption" rowspan="2">VHF</td>
            </tr>
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="checkbox" id="com2rx" class="sendBoolean" />
                    <label>COM2</label>
                    <input id="com2active" readonly size="7" class="lcdDisplay" />
                    <input type="button" id="com2swap" value="↔" class="sendButton" />
                    <input id="com2standby" is="com-frequency" class="lcdDisplay sendText" />
                </td>
            </tr>
                <!--
                <input type="button" id="com3rxToggle" value="Rx" class="sendButton" />
                <label for="com3standby">COM3</label>
                <input id="com3active" readonly size="7" class="lcdDisplay" />
                <input type="button" id="com3swap" value="↔" class="sendButton" />
                <input id="com3standby" type="number" size="7" min="118.0" max="136.975" step="0.005" pattern="1[1-3]\d\.\d(\d[05]?)?" class="sendText" />
                -->
        </table>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficThreat" value="0" />
                    <label for="tcasTrafficThreat">Thrt</label><br />
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficAll" value="1" />
                    <label for="tcasTrafficAll">All</label><br />
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficAbove" value="2" />
                    <label for="tcasTrafficAbove">Abv</label><br />
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficBelow" value="3" />
                    <label for="tcasTrafficBelow">Blw</label>
                </td>
                <th>Traffic</th>
                <td style="line-height: 1;">
                    <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeStandby" value="0" />
                    <label for="tcasModeStandby">Stby</label><br />
                    <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeTA" value="1" />
                    <label for="tcasModeTA">TA</label><br />
                    <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeRA" value="2" />
                    <label for="tcasModeRA">TA/RA</label>
                </td>
                <th>TCAS</th>
                <td class="tableCaption">TCAS</td>
            </tr>
        </table>
        <table style="font-size: larger;">
            <tr style="font-size: smaller; line-height: 1;">
                <td style="line-height: 1;">
                    <input type="radio" name="transponderMode" class="sendRadio" id="transponderModeStandby" value="0" />
                    <label for="transponderModeStandby">Stby</label><br />
                    <input type="radio" name="transponderMode" class="sendRadio" id="transponderModeAuto" value="1" />
                    <label for="transponderModeAuto">Auto</label><br />
                    <input type="radio" name="transponderMode" class="sendRadio" id="transponderModeOn" value="2" />
                    <label for="transponderModeOn">On</label>
                </td>
                <th>ATC</th>
                <td>
                    <input type="checkbox" id="altRptg" class="sendBoolean" />
                    <label for="altRptg">Alt<br />Rptg</label>
                </td>
                <th>Alt<br />Rptg</th>
                <td rowspan="2" class="tableCaption">ATC</td>
            </tr>
            <tr style="font-size: smaller; line-height: 1;">
                <th colspan="2"><label for="xpndrCode">Transponder Code</label></th>
                <td><input id="xpndrCode" size="4" maxlength="4" class="sendText" /></td>
                <td><input type="button" id="squawkIdent" value="Ident" class="sendButton" /></td>
            </tr>
        </table>
    </div>
    <iframe id="tabs-mcdu" src="http://controlzmo.aquarium.davegymer.org:8380/interfaces/mcdu/" style="width: 100%; height: 525px;">MCDU</iframe>
    <div id="tabs-debug">
        <label for="jetbridge"><b>JetBridge</b></label>
        <input id="jetbridge" size="80" maxlength="127" class="sendText" />
        <div style="float: right;">
            <b><label for="serialInbound">Serial Inbound</label></b>
            <input id="serialInbound" maxlength="30" class="sendText" size="20" />
            <b><label for="serialOutbound">Serial Outbound</label></b>
            <input id="serialOutbound" maxlength="30" class="sendText" size="20" />
        </div>
        <input type="button" id="testVoice" value="Test Callout" onClick="speak('Monitoring')" />
        <input type="button" id="reconnect" value="Reconnect" onClick="reconnect()" />
        <input type="button" id="remcdu" value="MCDU" onClick="document.getElementById('tabs-mcdu').src = document.getElementById('tabs-mcdu').src" />
        <div>
            <label for="atcAirline" style="float: right;" class="tableCaption">SOPs</label>
            <textarea id="atcAirline" rows="8" cols="40"></textarea>
            <label for="fuelLog" style="float: right;" class="tableCaption">Fuel Log</label>
            <textarea id="fuelLog" rows="5" cols="40"></textarea>
        </div>
    </div>
  </div>
</div>
