@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="float: right;">

    <table style="font-size: larger;" id="tabs-lights">
        <tr>
            <td><input type="checkbox" id="lightsStrobe" class="sendBoolean" disabled /></td>
            <th><label for="lightsStrobe">Strobes</label></th>
            <td><input type="checkbox" id="lightsBeacon" class="sendBoolean" /></td>
            <th><label for="lightsBeacon">Beacon</label></th>
            <td><input type="checkbox" id="lightsWingIce" class="sendBoolean" /></td>
            <th><label for="lightsWingIce">Wing Ice</label></th>
            <td><input type="checkbox" id="lightsNavLogo" class="sendBoolean" /></td>
            <th><label for="lightsNavLogo">Nav/Logo</label></th>
        </tr>
        <tr>
            <td><input type="checkbox" id="lightsTaxiTurnoff" class="sendBoolean" /></td>
            <th><label for="lightsTaxiTurnoff">Turnoff/Taxi</label></th>
            <td colspan="2"><input type="checkbox" id="lightsLanding" class="sendBoolean" /></td>
            <th colspan="2" title="Ensure On or Retract (not Off) in game"><label for="lightsLanding">Landing</label></th>
            <td><select id="lightsNose"><option disabled selected>INOP</option></select></td>
            <th><label for="lightsNost">Nose</label></th>
        </tr>
    </table>

    <!-- label for="frottle">Frottle</!--label><input id="frottle" disabled /-->

    <div id="tabs-radio">
        <div>
            <input type="button" id="com1rxToggle" value="Rx" class="sendButton" />
            <label for="com1standby">COM1</label>
            <input id="com1active" readonly size="7" />
            <input type="button" id="com1swap" value="↔" class="sendButton" />
            <input id="com1standby" is="com-frequency" class="sendText" />
        </div>
        <div>
            <input type="button" id="com2rxToggle" value="Rx" class="sendButton" />
            <label for="com2standby">COM2</label>
            <input id="com2active" readonly size="7" />
            <input type="button" id="com2swap" value="↔" class="sendButton" />
            <input id="com2standby" is="com-frequency" class="sendText" />
        </div>
        <!-- div>
            <input type="button" id="com3rxToggle" value="Rx" class="sendButton" />
            <label for="com3standby">COM3</label>
            <input id="com3active" readonly size="7" />
            <input type="button" id="com3swap" value="↔" class="sendButton" />
            <input id="com3standby" type="number" size="7" min="118.0" max="136.975" step="0.005" pattern="1[1-3]\d\.\d(\d[05]?)?" class="sendText" />
        </div-->
    </div>

    <div id="tabs-pushback">
        <input type="button" id="tugToggle" value="Toggle" class="sendButton" />
        <label for="tugHeading">HDG</label>
        <input id="tugHeading" size="3" class="sendText" />
    </div>
