@page
@{
    ViewData["Title"] = "Home page";
}

<div id="tabs">
    <ul class="tab-menu">
        <li><a href="#tabs-efis-radar-atc-radio">EFIS, Radar, Radio</a></li>
<!--
        <li>&mdash;</li>
        <li><a href="#tabs-mcdu">MCDU</a></li>
-->
        <li>&mdash;</li>
        <li><a href="#tabs-sops">SOP/Log</a></li>
        <li>&mdash;</li>
        <li><a href="#tabs-debug">Debug</a></li>
    </ul>
    <div class="gridContainer">
        <div id="tabs-efis-radar-atc-radio">
            <div style="float: right;">
                <input id="toSpeedV1" placeholder="V1" class="sendText vspeed" />
                <br />
                <input id="toSpeedVr" placeholder="Vr" class="sendText vspeed" />
                <br />
                <input id="toSpeedV2" placeholder="V2" class="sendText vspeed" />
            </div>
            <div style="float: right; clear: right; margin-top: 0.8lh;">
                <input type="button" id="ecamButtonTakeOffConfig" value="T.O.&#x00A;Config" class="sendButton" style="-webkit-transform: rotate(0deg);" />
            </div>
            <div style="float: right; clear: right; margin-top: 0.8lh;">
                <label for="cockpitDoor">Cockpit<br />door<br />locked</label>
                <input type="checkbox" id="cockpitDoor" class="sendBoolean" />
            </div>
            <div style="float: right; clear: right; margin-top: 0.8lh; width: 3em;">
                @{
                    for (int i = 0; i++ < 10; )
                    {
                        var key = i % 10;
                        <input type="button" value="@key" onclick="atc(@key)" />
                    }
                }
        </div>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td>
                    <select id="leftEfisNdMode" class="sendText">
                        <option>Rose ILS</option>
                        <option>Rose VOR</option>
                        <option>Rose Nav</option>
                        <option selected>Arc</option>
                        <option>Plan</option>
                        <option>Eng</option> <!-- A330 special -->
                        </select>
                </td>
                <th><label for="leftEfisNdMode">Mode</label></th>
                <td>
                    <select id="leftEfisNdRange" class="sendText">
                        <option value="-4">Zoom 5</option>
                        <option value="-3">Zoom 4</option>
                        <option value="-2">Zoom 3</option>
                        <option value="-1">Zoom 2</option>
                        <option value="0">Zoom 1</option>
                        <option value="1">10</option>
                        <option value="2">20</option>
                        <option value="3">40</option>
                        <option value="4">80</option>
                        <option value="5">160</option>
                        <option value="6">320</option>
                        <option value="7">640</option>
                    </select>
                </td>
                <th><label for="leftEfisNdRange">Range</label></th>
                <td rowspan="2" class="tableCaption">Captain</td>
            </tr>
            <tr style="font-size: smaller;">
                <th>
                    <select id="leftEfisNavAid1" class="sendText">
                        <option>ADF</option>
                        <option selected>Off</option>
                        <option>VOR</option>
                    </select>
                    <label for="leftEfisNavAid1">1</label>
                </th>
                <th colspan="2">
                    <select id="leftEfisNavAid2" class="sendText">
                        <option>ADF</option>
                        <option selected>Off</option>
                        <option>VOR</option>
                    </select>
                    <label for="leftEfisNavAid2">2</label>
                </th>
                <td><input type="button" id="chrono1press" value="Chrono" class="sendButton" /></td>
            </tr>
        </table>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="radio" name="radarSys" class="sendRadio" id="radarSys1" value="0" />
                    <label for="radarSys1">1</label><br />
                    <input type="radio" name="radarSys" class="sendRadio" id="radarSysOff" value="1" />
                    <label for="radarSysOff">Off</label><br />
                    <input type="radio" name="radarSys" class="sendRadio" id="radarSys2" value="2" />
                    <label for="radarSys2">2</label>
                </td>
                <th>Radar</th>
                <th>
                    <input type="checkbox" id="predictiveWindshear" class="sendBoolean" />
                    <label for="predictiveWindshear">Predictive<br />Windshear</label>
                </th>
                <td class="tableCaption">Radar</td>
            </tr>
        </table>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="radio" name="comtx" id="com1tx" class="sendRadio" value="1" />
                    <input type="checkbox" checked disabled />
                    <label>COM1</label>
                    <input id="com1active" readonly size="7" class="lcdDisplay" />
                    <input type="button" id="com1swap" value="↔" class="sendButton" />
                    <input id="com1standby" is="com-frequency" class="lcdDisplay sendText" />
                </td>
                <td class="tableCaption" rowspan="2">
                    VHF
                    <input type="radio" name="comtx" id="comTxNone" class="sendRadio" style="display: none;" value="0" />
                </td>
            </tr>
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="radio" name="comtx" id="com2tx" class="sendRadio" value="2" />
                    <input type="checkbox" id="com2rx" class="sendBoolean" />
                    <label>COM2</label>
                    <input id="com2active" readonly size="7" class="lcdDisplay" />
                    <input type="button" id="com2swap" value="↔" class="sendButton" />
                    <input id="com2standby" is="com-frequency" class="lcdDisplay sendText" />
                </td>
            </tr>
                <!--
                <input type="button" id="com3rxToggle" value="Rx" class="sendButton" />
                <label for="com3standby">COM3</label>
                <input id="com3active" readonly size="7" class="lcdDisplay" />
                <input type="button" id="com3swap" value="↔" class="sendButton" />
                <input id="com3standby" type="number" size="7" min="118.0" max="136.975" step="0.005" pattern="1[1-3]\d\.\d(\d[05]?)?" class="sendText" />
                -->
        </table>
        <table style="font-size: larger">
            <tr style="font-size: smaller;">
                <td style="line-height: 1;">
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficThreat" value="0" />
                    <label for="tcasTrafficThreat">Thrt</label><br />
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficAll" value="1" />
                    <label for="tcasTrafficAll">All</label><br />
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficAbove" value="2" />
                    <label for="tcasTrafficAbove">Abv</label><br />
                    <input type="radio" name="tcasTraffic" class="sendRadio" id="tcasTrafficBelow" value="3" />
                    <label for="tcasTrafficBelow">Blw</label>
                </td>
                <th>Traffic</th>
                <td style="line-height: 1;">
                    <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeStandby" value="0" />
                    <label for="tcasModeStandby">Stby</label><br />
                    <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeTA" value="1" />
                    <label for="tcasModeTA">TA</label><br />
                    <input type="radio" name="tcasMode" class="sendRadio" id="tcasModeRA" value="2" />
                    <label for="tcasModeRA">TA/RA</label>
                </td>
                <th>TCAS</th>
                <td class="tableCaption">TCAS</td>
            </tr>
        </table>
        <table style="font-size: larger;">
            <tr style="font-size: smaller; line-height: 1;">
                <td rowspan="2" style="line-height: 1;">
                    <input type="radio" name="transponderMode" class="sendRadio" id="transponderModeStandby" value="0" />
                    <label for="transponderModeStandby">Stby</label><br />
                    <input type="radio" name="transponderMode" class="sendRadio" id="transponderModeAuto" value="1" />
                    <label for="transponderModeAuto">Auto</label><br />
                    <input type="radio" name="transponderMode" class="sendRadio" id="transponderModeOn" value="2" />
                    <label for="transponderModeOn">On</label>
                </td>
                <th rowspan="2">ATC</th>
                <td>
                    <input type="checkbox" id="altRptg" class="sendBoolean" />
                    <label for="altRptg">Alt<br />Rptg</label>
                </td>
                <td rowspan="3" class="tableCaption">ATC</td>
            </tr>
            <tr style="font-size: smaller; line-height: 1;">
                <td><input type="button" id="squawkIdent" value="Ident" class="sendButton" /></td>
            </tr>
            <tr style="font-size: smaller; line-height: 1;">
                <th colspan="2"><label for="xpndrCode">Transponder Code</label></th>
                <td><input id="xpndrCode" size="4" maxlength="4" class="sendText" /></td>
            </tr>
        </table>
    </div>
    <!-- iframe id="tabs-mcdu" src="mcdu.html" style="width: 100%; height: 525px;">MCDU</iframe -->
    <div id="tabs-sops">
        <div style="float: right;" class="tableCaption">
            <span onclick="$('#gsxPushback').hide(); $('#fuelLog').hide(); $('#sops').show();">SOPs</span>
            &nbsp;&nbsp;
            <span onclick="$('#sops').hide(); $('#fuelLog').hide(); $('#gsxPushback').show();">GSX Pushback</span>
            &nbsp;&nbsp;
            <span onclick="$('#sops').hide(); $('#gsxPushback').hide(); $('#fuelLog').show();">Fuel Log</span>
        </div>
        <span id="sops">
            <textarea id="atcAirline" rows="17" cols="40"></textarea>
            <textarea id="simInfo" rows="5" cols="40"></textarea>
        </span>
        <textarea id="gsxPushback" rows="22" cols="40" style="display: none;">
QuickEdit controls

Cursor to move; Shift for faster
F7/F8 rotate (15 degrees); NumPad 1/3 finer
NumPad 5 to insert start/end waypoints
F1/F4 cycle end/all waypoints
F5/F6 remove/insert (before current) waypoint
0/9 move engine start position
        </textarea>
        <textarea id="fuelLog" rows="22" cols="40" style="display: none;">(Fuel log when airbourne)</textarea>
    </div>
    <div id="tabs-debug">
        <label for="jetbridge"><b>JetBridge</b></label>
        <span style="float: right;">
            <input type="button" value="List Input Events" onclick="connection.invoke('SetInSim', 'listInputEvents', null);" />
            <input type="button" value="vJoy press" onclick="vjoyClick();" />
        </span>
        <input id="jetbridge" size="80" maxlength="127" class="sendText" />
        <div>
            <span style="float: right;">
                METAR
                <br /><input id="metarIcao" maxlength="4" size="4" />
                <br /><input type="button" value="Fetch" onclick='connection.invoke("SetInSim", "fetchMetar", document.getElementById("metarIcao").value.toUpperCase()).catch(errorHandler);' />
                <br /><input type="button" value="Print" onclick='connection.invoke("SetInSim", "printText", document.getElementById("metar").value).catch(errorHandler);' />
            </span>
            <textarea cols="34" rows="5" id="metar"></textarea><br />
        </div>
        <div style="float: right;">
            <b><label for="serialInbound">Serial Inbound</label></b>
            <input id="serialInbound" maxlength="30" class="sendText" size="20" />
            <b><label for="serialOutbound">Serial Outbound</label></b>
            <input id="serialOutbound" maxlength="30" class="sendText" size="20" />
        </div>
        <input type="button" id="testVoice" value="Test Callout" onClick="testCallout()" />
        <input type="button" id="reconnect" value="Reconnect" onClick="reconnect()" />
        <!-- input type="button" id="remcdu" value="Reset MCDU page" onClick="document.getElementById('tabs-mcdu').src = 'mcdu.html'" / -->
        <div id="landingRateWidgit" style="margin: 10px;">
            Rate <input id="landingRate" size="10" /> AGL <input id="landingAgl" size="10" />
        </div>
    </div>
  </div>
</div>
