@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>Strobes</th>
            <td><input type="checkbox" id="lightStrobes" class="sendSomet" /></td>
        </tr>
        <tr>
            <th>Beacon</th>
            <td><input type="checkbox" id="lightBeacon" class="sendSomet" /></td>
        </tr>
    </table>
    <ul id="messagesList"></ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/test.js"></script>
