@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Field1)</th>
            <td>@Html.DisplayFor(model => model.Field1)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Field2)</th>
            <td>@Html.DisplayFor(model => Model.Field2)</td>
        </tr>
    </table>
</div>
